@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.frontend-challenge-demo-box {
  margin: 42px auto;
  border-radius: 4px;
  box-shadow: inset 0 0 1px 0 #bbb, 0 0 2px 1px #bbb;
	padding: 20px;
  max-width: 80%;
  width: 675px;
  text-align: center;
	background-color: #222;
  color: #dedede;
}

.frontend-challenge-demo-box .docs-link {
  display: none;
  font-weight: 600;
  color: #60afd0;
  text-decoration: none;
}

.frontend-challenge-demo-box .docs-link:hover {
  text-decoration: underline;
}